/* 要素セレクター */
p {
  color: #666; /* テキスト色をグレーに */
}

/* クラスセレクター */
.overview{
    color: #333;
    border-left: 4px solid #3498db;
    padding: 5px;
}

/* IDセレクター */
#firsttitle{
    color: #3498db;
    font-weight: bold;
}

/* 子孫セレクター */
section p {
  background-color: #eee; /* 背景色を薄いグレーに */
}

/* 擬似クラス */
a:link {
  color: #0000ff; /* 通常時のテキスト色を青に */
}
a:hover {
  color: #ff0000; /* ホバー時のテキスト色を赤に */
}
a:visited {
  color: #999999; /* 訪問済のテキスト色をグレーに */
}

* {
    margin: 0;
    padding: 0;
}

/* 大きさの記法（ピクセル） */
h1 {
  font-size: 48px; /* 文字サイズを48pxに */
}

/* 大きさの記法（パーセント） */
.overview {
  width: 80%; /* 幅を80%に */
}

/*CSSでの優先順位
下に書かれたものほど優先される
詳細なセレクターほど優先される
!important を使ったスタイルが最も優先される */

p {
    color: red;
}
p {
    color: green;
}

